<!DOCTYPE html>
<html>

<head>
    <title>About Us </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="author" content="Getachew Zemene">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/1a7be0b1e9.js" crossorigin="anonymous"></script>
    <script src="assets/js/bootstrap.min.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="header">
        <nav class="row-sm bg-primary navbar">
            <h1 id="blog" class="ml-5 pl-5 text-light">About Irregular Sleep Tracking(IST)</h1>
            <ul class="nav float-right justify-content-center">
                <li class="h4 nav-item col-sm">
                    <a class="nav-link text-light active" href="/">Dashboard</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="card-deck">
                <div id="cardsm8" class="card col-sm-8">
                    <div class="card-header bg-light">
                        <h3 class="h3 text-primary text-capitalize">Welcome user am Getachew Zemene IST Org. CEO</h3>
                        <p><img src="./admin.jpg" width="600" height="600" alt="image displayed here.."></p>
                    </div>
                    <div class="card-body">
                        <p class="text-secondary">by <span class="text-primary">Irregular Sleep Tracking Org.</span></p>
                        <p class="text-secondary">posted on july 1,2021 at 12:00 pm.</p>
                        <hr/>
                        <p>There is no sunrise so beautiful that it is worth waking me up to see it.</p>
                        <footer class="blockquote-footer text-danger">by Getachew Zemene IST Org. Admin.</footer>
                        <p>
                            <h6 class="h6 text-info">I am Getachew Zemene.Am a software Engineer @ Bahir Dar University(BiT),Mobile App Developer and FullStack Web Developer. Contact me on given links in the right panel
                            </h6>
                        </p>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="catagories" class="row m-1">
                        <div class="card">
                            <div class="card-header bg-primary">
                                <h3 class="h3 text-dark">Contact Us On...</h3>
                            </div>
                            <div class="row card-body text-primary">
                                <div class="col-sm-6">
                                    <a href="#facebook">Get Me On Facebook</a><br/>
                                    <a href="#telegram">Get Me OnTelegram</a>
                                    <a href="#phone">Call To Me</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--col-sm-4 end-->
            </div>
            <!--deck end-->
        </div>
    </div>
    <div class="footer text-center" style="margin-top: 100px; background-color: rgb(8, 75, 71); color: white;">
        <div class="font-awsome">
            <i class="fab fa-facebook m-2"></i>
            <i class="fab fa-twitter-square m-2"></i>
            <i class="fab fa-instagram m-2"></i>
            <i class="fab fa-google-plus m-2"></i>
            <i class="far fa-envelope m-2"></i>
        </div>
        <p>&copy;All right reserved. IST Org., July 28,2021</p>
    </div>
    <script src="assets/javascript.js"></script>
    <script src="assets/jquery-3.6.0.js"></script>
</body>

</html>